<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Integrarte - Capital Humano{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('public/css/required.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/dist/bootstrap-table.css')}}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ include('menu.html.twig') }}
            {% endif %}
        {% endblock %}
        {% block audios %}
        <audio id="alert" src="{{ asset('public/audios/error.mp3')}}" type="audio/mp3">
        {% endblock %}
        {% block javascripts %}
        <script src=" {{ asset('public/js/jquery-1.11.3.js') }} "></script>
        <script src=" {{ asset('public/js/bootstrap.min.js') }} "></script>
        <script src=" {{ asset('public/js/bootbox.min.js') }} "></script>
        <script src=" {{ asset('assets/vendor/dist/bootstrap-table.js') }} "></script>
        <script src=" {{ asset('assets/vendor/dist/locale/bootstrap-table-es-ES.js') }} "></script>
        {% endblock %}
    </body>
</html>
