{% extends 'layout.html.twig' %}

{% block body %}

{{ parent() }}

{{ include('ichTestBundle:Puesto:messages/success.html.twig')}}
{{ include('ichTestBundle:Puesto:messages/danger.html.twig')}}
{{ include('ichTestBundle:Puesto:messages/modals.html.twig')}}  
        <div class="container">
            <div class="col-md-12">
                    <div class="page-header margin-none">
                        <h2 class="padding-none">Puestos</h2>
                    </div>
                <div class="table-responsive">
                   
                <div class="col-md-10">
                    <div class='col-md-2 form-group'>
                    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}
                    {{ form_widget(form.codigo, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Código'
                                } }) }}
                    </div>

                <div class='col-md-4 form-group'>
                    {{ form_widget(form.nombre, { 'attr' : { 'class' : 'form-control','placeholder' : 'Nombre' 
                                } }) }}
                </div>

                <div class='col-md-4 form-group'>
                    {{ form_widget(form.empresa, { 'attr' : { 'class' : 'form-control','placeholder' : 'Empresa'
                                } }) }}
                </div>
                <div class="columns btn-group">
                    {{ form_widget(form.send, {'label' : 'Buscar', 'attr' : {'class' : 'btn btn-default  buscar'} }) }}
                    {{ form_widget(form._token) }}
                    {{ form_end(form,{ 'render_rest' : false}) }}
                    <a href="{{ path('ich_puesto_index') }}" class="btn btn-default refresh"><i class="glyphicon glyphicon-refresh icon-refresh"></i></a>
                </div>    
                </div>
                        <div class="col-md-1">
                            <a href="{{ path('ich_puesto_add') }}" class="btn btn-md btn-primary">Nuevo Puesto</a>
                        </div>
                    
                    <br>
                    
                    {% if not pagination|length %}
                        <h4>No existen registros.</h4>
                    {% endif %}
                    
                    {% if pagination|length %}
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>    
                                <th>{{ knp_pagination_sortable(pagination, 'Codigo', 'p.codigo') }}</th>   
                                <th>{{ knp_pagination_sortable(pagination, 'Nombre', 'p.nombre') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Descripcion', 'p.descripcion') }}</th>
                                <th>Empresa</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for puesto in pagination %}
                                <tr data-id={{ puesto.id }}>
                                    <td>{{ puesto.codigo }}</td>
                                    <td>{{ puesto.nombre }}</td>
                                    <td>{{ puesto.descripcion }}</td>
                                    <td>{{ puesto.empresa.nombre }}</td>
                                    <td>
                                        {# <a href="{{ path('ich_puesto_view', { id: puesto.id }) }}" class="btn btn-sm btn-info">Ver</a> #}
                                        <a href="{{ path('ich_puesto_edit', { id: puesto.id }) }}" class="btn btn-sm btn-primary">Editar</a>
                                        <a id="deleteButton" href="{{ path('ich_puesto_delete') }}" class="btn btn-sm btn-danger btn-delete">Borrar</a>  
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    
                    {# Navigation Bar #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
        
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/delete-puesto.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/alertOnEmptyFieldsSearch-puesto.js') }}"></script>
{% endblock %}