
{% extends 'layout.html.twig'%}

{% block body %}

{{ parent() }}


<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">Búsqueda de Candidatos</h2>
		</div>
		<div class="row">
        <div class='col-md-1'>
        </div>
			<div class='col-md-3 form-group'>
				<input type="text" id="apellido" class="form-control"
					placeholder="Apellido">
			</div>
			<div class='col-md-3 form-group'>
				<input type="text" id="nombre" class="form-control"
					placeholder="Nombre">
			</div>
			<div class='col-md-3 form-group'>
				<input type="text" id="nroCandidato" class="form-control"
					placeholder="Nro. de Candidato">
			</div>
			<div class='col-md-1 form-group'>
				<button type="button" class="btn btn-info buscar">Buscar</button>
			</div>
		</div>
        <br>    
		<br>
		<div class="row2">
			<div class="col-md-6">
            <h3 id="titulo1" align="center">Listado de
                    Candidatos</h3>
                <table id="table-pagination" data-height="399" data-striped="true" class="table table-condensed"
                    data-pagination="true">
                    <div class="fixed-table-toolbar">
                        <div class="columns columns-right btn-group pull-right">
                            <button class="btn btn-default refresh" type="button"
                                name="refresh" title="Refrescar">
                                <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                            </button>
                            <button type="button" class="btn btn-default pull-right agregar"
                                ">Agregar</button>
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th data-field="apellido" data-align="left" data-sortable="true"
                                data-searchable="true">Apellido</th>
                            <th data-field="nombre" data-align="left" data-sortable="true"
                                data-searchable="true">Nombre</th>
                            <th data-field="nroCandidato" data-sortable="true"
                                data-align="left" data-width="20%" data-searchable="true">Nro. Candidato</th>
                            <th data-field="state" data-checkbox="true"></th>
                        </tr>
                    </thead>
                </table> 
                <br>
                <br>
                <br>        
            </div>
			<div class="col-md-6">
                <h3 id="titulo2" align="center">Listado de
                    Candidatos a Evaluar</h3>
                <table id="table-pagination2" data-height="399" data-striped="true" class="table table-condensed"
                    data-pagination="true">
                 <div class="fixed-table-toolbar">
                        <div class="columns columns-right btn-group pull-right">
                        <button type="button" class="btn btn-default pull-right quitar"
                            ">Quitar</button>
                        </div>
                        </div>
                             <thead>
                        <tr>
                            <th data-field="apellido" data-align="left" data-sortable="true">Apellido</th>
                            <th data-field="nombre" data-align="left" data-sortable="true">Nombre</th>
                            <th data-field="nroCandidato" data-sortable="true"
                                data-align="left" data-width="20%">Nro. Candidato</th>
                            <th data-field="state" data-checkbox="true"></th>
                        </tr>
                    </thead>
                </table>
                <br>
                <br>
                <br> 
				</div>
			

				{{ form_start(form) }}
				<fieldset>
					<div class="list-group candidatos">

						<div class="row renglon"></div>


					</div>

				</fieldset>

                </div>

				<!-- set up the modal to start hidden and fade in and out -->
				<div id="modalCandidatosActivos" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- dialog body -->
							<div class="modal-body">
								<h4 align="center">Existen candidatos que tienen cuestionarios </h4>
								  <h4 align="center"> activos y no pueden ser evaluados:</h4>
								<br>
								{% if candidatos|length %}
								{% for candidato in candidatos %}
								<td><span class="text-danger"><ul>
											<li>{{ candidato.apellido }}, {{ candidato.nombre }}</li>
										</ul></span></td>
								{% endfor %}
								{% endif %}
							</div>
							<!-- dialog buttons -->
							<div class="modal-footer">
								<a href="{{ path('ich_evaluacion_newStep1')}}"
									class="btn btn-primary">Aceptar</a>
							</div>
						</div>
					</div>
				</div>

                <!-- set up the modal to start hidden and fade in and out -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <h4 align="center">Debe seleccionar al menos un Candidato para continuar.</h4>
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer">
                <button type="button" class="btn btn-primary aceptar">Aceptar</button>
                </div>
            </div>
            </div>
        </div>
          
                 
                 </div>
<div class="col-md-12">
               
				<p>
					{{ form_widget(form.send, {'label' : 'Siguiente', 'attr' : {'class' : 'btn btn-success  siguiente'} }) }}
					<a href="{{ path('ich_test_homepage') }}"
						class="btn btn-warning cancelar">Cancelar</a>
				</p>
				
				
				{{ form_widget(form._token) }}
				{{ form_end(form,{ 'render_rest' : false}) }}
			
		</div>
	</div>
<br>
<br>
<br>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script type="text/javascript">

if(!'{{ candidatosActivos }}')
{
var candidatosTotal;




   
        
    $(document).ready(function() {
        

          $('#table-pagination').bootstrapTable({
                    data: [],
        formatLoadingMessage: function () {
            return 'Cargando datos. Por favor, espere...';
        }
                });

        $('#table-pagination2').bootstrapTable({data: []});

        $('#table-pagination').bootstrapTable('showLoading');

        $.ajax({
            url: '{{ path("ich_evaluacion_newStep1") }}',
            cache: false,
            success: function(data) {

                $('#table-pagination').bootstrapTable('load', data);

                $('#table-pagination').bootstrapTable('hideLoading');

                candidatosTotal = data;

                $opt= document.getElementById('form_send');
        		if (null != $opt)
        		{$opt.type = 'button'; $opt.name = '#'; $opt.id = '#modificar'; }
            }
        })
    });


    $(document).on('click', '.quitar', function() {
        $seleccionados = $('#table-pagination2').bootstrapTable('getSelections');
        if ($seleccionados.length != 0) {
            var nrosCandidato = $.map($seleccionados, function(row) {
                return row.nroCandidato;
            });
            $('#table-pagination').bootstrapTable('filterBy', {});
            $('#table-pagination').bootstrapTable('load', candidatosTotal);
            $('#table-pagination2').bootstrapTable('remove', {
                field: 'nroCandidato',
                values: nrosCandidato
            });
            $('#table-pagination').bootstrapTable('prepend', $seleccionados);
            candidatosTotal = JSON.parse(JSON.stringify($('#table-pagination').bootstrapTable('getData')));

            $nrosCandidato = $.map($('#table-pagination2').bootstrapTable('getData'), function(row) {
                return row.nroCandidato;
            });

            if($nrosCandidato.length == 0)
            {
        		$opt= document.getElementById('form_send');
    			if (null != $opt)
    			{$opt.type = 'button'; $opt.name = '#'; $opt.id = '#modificar'; }
            }
            
            $collectionHolder = $('div.candidatos');
	    	    
	    	    // add a delete link to all of the existing tag form li elements
	    	    $collectionHolder.find('div.renglon').each(function() {

	    	        $(this).remove();
	    	    });

			
	    	    $collectionHolder.data('index', $collectionHolder.find(':input').length);
	    	    var index = $collectionHolder.data('index');

	     	   for (var i=0, total = $nrosCandidato.length; i < total; i++) {

	     		  
	               newFormLi = $('<div class="row renglon"></div>').append($('<div class="col-md-2"></div>').append(
	    	               '<input id="form_candidatos_'+i+'" class="form-control" name="form[candidatos]['+i
	    	               +']" value="'+ $nrosCandidato[i] +'" type="hidden">'));

	     	    // increase the index with one for the next item
	    	    $collectionHolder.data('index', index + 1);
	    	    
	    	    // Display the form in the page in an li, before the "Add a tag" link li
	    	    
	    	    $collectionHolder.append(newFormLi);
	           
	           
	             
	           }
        }
        
    });


    $('.siguiente').click( function() {
        $seleccionados = $('#table-pagination2').bootstrapTable('getData');

        if ($seleccionados.length == 0) {

            $("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
          "backdrop"  : "static",
          "keyboard"  : true,
          "show"      : true                    // ensure the modal is shown immediately
        });
        	
        }
    });


 $(document).on('click', '.aceptar', function() {
                
    $(function() {
            $("#myModal").modal('hide'); // dismiss the dialog
        });
    })


       
 $("#myModal").on("show", function() { // wire up the OK button to dismiss the modal when shown
            $("#myModal a.btn").on("click", function(e) {
                console.log("button pressed"); // just as an example...
                $("#myModal").modal('hide'); // dismiss the dialog
            });
        });

        $("#myModal").on("hide", function() { // remove the event listeners when the dialog is dismissed
            $("#myModal a.btn").off("click");
        });

        $("#myModal").on("hidden", function() { // remove the actual elements from the DOM when fully hidden
            $("#myModal").remove();

        });



    
    $(document).on('click', '.refresh', function() {
        $('#table-pagination').bootstrapTable('filterBy', {});
        $('#table-pagination').bootstrapTable('load', candidatosTotal);
        $seleccionados = $('#table-pagination2').bootstrapTable('getData');
        if($seleccionados.length != 0)
        {    
        var nrosCandidato = $.map($seleccionados, function(row) {
            return row.nroCandidato;
        });
        $('#table-pagination').bootstrapTable('remove', {
            field: 'nroCandidato',
            values: nrosCandidato
        });
        }
    });

    $(document).on('click', '.agregar', function() {
        $seleccionados = $('#table-pagination').bootstrapTable('getSelections');
        if ($seleccionados.length != 0) { 
            $nrosCandidato = $.map($seleccionados, function(row) {
                return row.nroCandidato;
            });
            $('#table-pagination').bootstrapTable('filterBy', {});
            $('#table-pagination').bootstrapTable('load', candidatosTotal);
            $('#table-pagination').bootstrapTable('remove', {
                field: 'nroCandidato',
                values: $nrosCandidato
            });
            candidatosTotal = JSON.parse(JSON.stringify($('#table-pagination').bootstrapTable('getData')));

            if(($('#table-pagination2').bootstrapTable('getData')).length == 0)
            {
            $opt= document.getElementById('#modificar');
    		if (null != $opt)
    		{$opt.type = 'submit'; $opt.name = 'form[send]'; $opt.id = 'form_send';} 
            }
            
            $('#table-pagination2').bootstrapTable('prepend', $seleccionados);

            $nrosCandidato = $.map($('#table-pagination2').bootstrapTable('getData'), function(row) {
                return row.nroCandidato;
            });   
	       
            $collectionHolder = $('div.candidatos');
	    	    
	    	    // add a delete link to all of the existing tag form li elements
	    	    $collectionHolder.find('div.renglon').each(function() {

	    	        $(this).remove();
	    	    });

			
	    	    $collectionHolder.data('index', $collectionHolder.find(':input').length);
	    	    var index = $collectionHolder.data('index');

	     	   for (var i=0, total = $nrosCandidato.length; i < total; i++) {

	     		  
	               newFormLi = $('<div class="row renglon"></div>').append($('<div class="col-md-2"></div>').append(
	    	               '<input id="form_candidatos_'+i+'" class="form-control" name="form[candidatos]['+i+']" value="'+ $nrosCandidato[i] 
	    	               +'"  type="hidden">'));

	     	    // increase the index with one for the next item
	    	    $collectionHolder.data('index', index + 1);
	    	    
	    	    // Display the form in the page in an li, before the "Add a tag" link li
	    	    
	    	    $collectionHolder.append(newFormLi);
	           
	           
	             
	           }

	       		}
	       });


    
    $(document).on('click', '.buscar', function() {
        $apellido = $('#apellido').val();
        $nombre = $('#nombre').val();
        $nroCandidato = $('#nroCandidato').val();
        $nroCandidatoInt = 0;
        $nroCandidatoInt = parseInt($('#nroCandidato').val(), 10) + parseInt($nroCandidatoInt, 10);
        $('div.error').remove();
        if ($apellido.length == 0 && $nombre.length == 0 && $nroCandidato.length == 0) {

            $('div.row').append($('<div class="error"></div>').append(
                '<span class="text-danger"><ul><li>Debe completar un campo de búsqueda.</li></ul></span>'));
        } else {
            if ($apellido.length > 0 && $nombre.length == 0 && $nroCandidato.length == 0) {
                $('#table-pagination').bootstrapTable('filterBy', {
                    apellido: $apellido
                });
            } else {
                if ($apellido.length > 0 && $nombre.length > 0 && $nroCandidato.length == 0) {
                    $('#table-pagination').bootstrapTable('filterBy', {
                        apellido: $apellido,
                        nombre: $nombre
                    });
                } else {
                    if ($apellido.length > 0 && $nombre.length == 0 && $nroCandidato.length > 0) {
                        $('#table-pagination').bootstrapTable('filterBy', {
                            apellido: $apellido,
                            nroCandidato: $nroCandidatoInt
                        });
                    } else {
                        if ($apellido.length == 0 && $nombre.length > 0 && $nroCandidato.length > 0) {
                            $('#table-pagination').bootstrapTable('filterBy', {
                                nombre: $nombre,
                                nroCandidato: $nroCandidatoInt
                            });
                        } else {
                            if ($apellido.length == 0 && $nombre.length > 0 && $nroCandidato.length == 0) {
                                $('#table-pagination').bootstrapTable('filterBy', {
                                    nombre: $nombre
                                });
                            } else {
                                if ($apellido.length == 0 && $nombre.length == 0 && $nroCandidato.length > 0) {
                                    $('#table-pagination').bootstrapTable('filterBy', {
                                        nroCandidato: $nroCandidatoInt
                                    });
                                } else {
                                    if ($apellido.length > 0 && $nombre.length > 0 && $nroCandidato.length > 0) {
                                        $('#table-pagination').bootstrapTable('filterBy', {
                                            nombre: $nombre,
                                            nombre: $nombre,
                                            nroCandidato: $nroCandidatoInt
                                        });
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    });
    }
    else{
    	$("#modalCandidatosActivos").on("show", function() {    // wire up the OK button to dismiss the modal when shown
    	    $("#modalCandidatosActivos a.btn").on("click", function(e) {
    	        console.log("button pressed");   // just as an example...
    	        $("#modalCandidatosActivos").modal('hide');     // dismiss the dialog
    	    });
    	});
    	$("#modalCandidatosActivos").on("hide", function() {    // remove the event listeners when the dialog is dismissed
    	    $("#modalCandidatosActivos a.btn").off("click");
    	});

    	$("#modalCandidatosActivos").on("hidden", function() {  // remove the actual elements from the DOM when fully hidden
    	    $("#modalCandidatosActivos").remove();
    	});

    	$("#modalCandidatosActivos").modal({                    // wire up the actual modal functionality and show the dialog
    	  "backdrop"  : "static",
    	  "keyboard"  : true,
    	  "show"      : true                     // ensure the modal is shown immediately
    	});
    	}
    
</script>
{% endblock %}