{% extends 'layout.html.twig'%}

{% block body %}
{{ parent() }}
<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">Búsqueda de Candidatos</h2>
		</div>
		<div class="row">
			<div class='col-md-1'></div>
			<div class='col-md-3 form-group'>
				<input type="text" id="apellido" class="form-control"
					placeholder="Apellido">
			</div>
			<div class='col-md-3 form-group'>
				<input type="text" id="nombre" class="form-control"
					placeholder="Nombre">
			</div>
			<div class='col-md-3 form-group'>
				<input type="text" id="nroCandidato" class="form-control"
					placeholder="Nro. de Candidato">
			</div>
			<div class='col-md-1 form-group'>
				<button type="button" class="btn btn-primary buscar">Buscar</button>
			</div>
		</div>
		<br>
		<div class="row1">
			<div class="col-md-6">
				<table id="table-pagination" data-height="350" data-striped="true"
					class="table table-condensed" data-pagination="true">
					<div class="fixed-table-toolbar">
						<div class="columns columns-right btn-group pull-right">
							<button class="btn btn-default refresh" type="button"
								name="refresh" title="Refrescar">
								<i class="glyphicon glyphicon-refresh icon-refresh"></i>
							</button>
							<button type="button" class="btn btn-default pull-right agregar"">Agregar</button>
						</div>
					</div>
					<thead>
						<h3 align="left">Listado de Candidatos</h3>
						<tr>
							<th data-field="apellido" data-align="left" data-sortable="true"
								data-searchable="true">Apellido</th>
							<th data-field="nombre" data-align="left" data-sortable="true"
								data-searchable="true">Nombre</th>
							<th data-field="nroCandidato" data-sortable="true"
								data-align="left" data-width="20%" data-searchable="true">Nro.
								Candidato</th>
							<th data-field="state" data-checkbox="true"></th>
						</tr>
					</thead>
				</table>

			</div>
			<div class="col-md-6">
				<table id="table-pagination2" data-height="350" data-striped="true"
					class="table table-condensed" data-pagination="true">
					<div class="fixed-table-toolbar">
						<div class="columns columns-right btn-group pull-right">
							<button type="button" class="btn btn-default pull-right quitar"">Quitar</button>
						</div>
					</div>
					<thead>
						<h3 align="left">Listado de Candidatos a Evaluar</h3>
						<tr>
							<th data-field="apellido" data-align="left" data-sortable="true">Apellido</th>
							<th data-field="nombre" data-align="left" data-sortable="true">Nombre</th>
							<th data-field="nroCandidato" data-sortable="true"
								data-align="left" data-width="20%">Nro. Candidato</th>
							<th data-field="state" data-checkbox="true"></th>
						</tr>
					</thead>
				</table>



				{{ form_start(form) }}
				<fieldset>
					<div class="list-group candidatos">

						<div class="row renglon"></div>


					</div>

				</fieldset>

			</div>
		<div class="col-md-12">

			<p>
				{{ form_widget(form.send, {'label' : 'Siguiente', 'attr' : {'class' : 'btn btn-success  siguiente'} }) }}
				<a href="{{ path('ich_test_homepage') }}"
					class="btn btn-warning cancelar">Cancelar</a>
			</p>


			{{ form_widget(form._token) }}
			{{ form_end(form,{ 'render_rest' : false}) }}

		</div>
	</div>
	<br> <br> <br>
{{ include('ichTestBundle:Evaluacion:messages/modals-add1-evaluarCandidatos.html.twig')}} 
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var candidatosTotal = {{ candidatos | raw }}, url_buscarCandidatosActivos = '{{ path("ich_evaluacion_buscarCandidatosActivos") }}', url_buscarCandidatosEvaluar = '{{ path("ich_evaluacion_buscarCandidatosEvaluar") }}';
</script>
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/add1-evaluarCandidatos.js') }}"></script>
{% endblock %}