{% extends 'layout.html.twig'%}

{% block body %}

{{ parent() }}

<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">Evaluación de Candidatos</h2>
		</div>
		<br>
		<div class="row2">
			<div class="col-md-1"></div>
			<div class="col-md-9">
			<br>
			<h3 id="titulo1" align="center">Selección de Puesto</h3>
			<br>
				<table id="table-pagination" data-height="399" data-striped="true"
					data-pagination="true" data-single-select="true">
					<thead>
						<tr>
							<th data-field="idPuesto" data-visible="false">Id</th>
							<th data-field="nombrePuesto" data-align="left" data-sortable="true">Puesto</th>
							<th data-field="nombreEmpresa" data-align="left" data-sortable="true">Empresa</th>
							<th data-field="state" data-checkbox="true"></th>
						</tr>
					</thead>
				</table>
				<br>
		
		
		<!-- set up the modal to start hidden and fade in and out -->
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- dialog body -->
				<div class="modal-body">
					<h4 align="center">Debe seleccionar un Puesto para continuar.</h4>
				</div>
				<!-- dialog buttons -->
				<div class="modal-footer">
				<button type="button" class="btn btn-primary aceptar">Aceptar</button>
				</div>
			</div>
		</div>
	
		</div>	
<br> <br> <br>
				<p>
					 <a id="sig" href="{{ path('ich_evaluacion_newStep3', { id: 0 }) }}" onclick="" class="btn btn-success siguiente" >Siguiente</a>
					<a href="{{ path('ich_test_homepage') }}" class="btn btn-warning cancelar">Cancelar</a>
				</p>

	</div>
</div>
	</div>
	
	

</div>
<br>
<br>
<br>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
   
var hrefOriginal, primeraVez= true;

     $(document).ready(function() {
    	
     	$('#table-pagination').bootstrapTable({ data: [],
        formatLoadingMessage: function () {
            return 'Cargando datos. Por favor, espere...';
        }
                });

     	$('#table-pagination').bootstrapTable('showLoading');
     	


        $.ajax({
            url: '{{ path("ich_evaluacion_newStep2") }}',
            cache: false,
            success: function(data) {

                $('#table-pagination').bootstrapTable('load', data);

                $('#table-pagination').bootstrapTable('hideLoading');

                $opt= document.getElementById('sig');
        		if (null != $opt)
        		{$opt.id = '#modificar'; hrefOriginal = $opt.href; $opt.href = '#'; $opt.setAttribute('onclick', 'mostrarAdvertencia();');}
            }
        })
    });

     $('#table-pagination').on('uncheck.bs.table', function(row, $element) {	

     	$opt= document.getElementById('sig');
        		if (null != $opt)
        	{	
        		$opt.setAttribute('onclick', 'mostrarAdvertencia();');
        		$opt.id = '#modificar';
        		$opt.href = '#';  
        	} 
        	})



 $('#table-pagination').on('check.bs.table', function(row, $element) {

        	 $opt= document.getElementById('#modificar');
        		if (null != $opt) 
        	{	
        		$opt.setAttribute('onclick', '');
        		$opt.id = 'sig';
        		$opt.href = hrefOriginal.replace('0',$element.idPuesto);  
        	}  
        }
    );  

    
 $(document).on('click', '.aceptar', function() {
				
	$(function() {
			$("#myModal").modal('hide'); // dismiss the dialog
		});
    })


       
 $("#myModal").on("show", function() { // wire up the OK button to dismiss the modal when shown
			$("#myModal a.btn").on("click", function(e) {
				console.log("button pressed"); // just as an example...
				$("#myModal").modal('hide'); // dismiss the dialog
			});
		});

		$("#myModal").on("hide", function() { // remove the event listeners when the dialog is dismissed
			$("#myModal a.btn").off("click");
		});

		$("#myModal").on("hidden", function() { // remove the actual elements from the DOM when fully hidden
			$("#myModal").remove();

		});


function mostrarAdvertencia() {

     	$("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
    	  "backdrop"  : "static",
    	  "keyboard"  : true,
    	  "show"      : true                    // ensure the modal is shown immediately
    	});
     }


</script>
{% endblock %}
