{% extends 'layout.html.twig'%}

{% block body %}

{{ parent() }}

<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">Evaluación de Candidatos</h2>
		</div>
		<div class="row2">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				<table id="table-pagination" data-height="350" data-striped="true"
					data-pagination="true" data-single-select="true">
					<thead>
						<h3 align="center">Selección de Puesto</h3>
						<tr>
							<th data-field="idPuesto" data-visible="false">Id</th>
							<th data-field="nombrePuesto" data-align="left"
								data-sortable="true">Puesto</th>
							<th data-field="nombreEmpresa" data-align="left"
								data-sortable="true">Empresa</th>
							<th data-field="state" data-checkbox="true"></th>
						</tr>
					</thead>
				</table>
				<br>
				<p>
					<a id="sig" href="{{ path('ich_evaluacion_newStep3', { id: 0 }) }}"
						onclick="" class="btn btn-success siguiente">Siguiente</a> <a
						href="{{ path('ich_test_homepage') }}"
						class="btn btn-warning cancelar">Cancelar</a>
				</p>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
{{ include('ichTestBundle:Evaluacion:messages/modals-add2-evaluarCandidatos.html.twig')}}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var puestos = {{ puestos | raw }};  
</script>
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/add2-evaluarCandidatos.js') }}"></script>
{% endblock %}
