{% extends 'layout.html.twig'%}

{% block body %}

{{ parent() }}

<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">
				Caracter&#237;sticas del Puesto:
				{{ nombrePuesto }}
			</h2>
		</div>
		<div class="row2">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				<table id="table-pagination" data-height="350"
					data-pagination="true" data-card-view="true">
					<thead>
						<h3 align="center">Listado de Competencias</h3>
						<tr>
							<th data-field="nombre" data-align="left" data-sortable="true">Nombre</th>
							<th data-field="codigo" data-align="left" data-sortable="true">Código</th>
							<th data-field="descripcion" data-align="left"
								data-sortable="true">Descripción</th>
							<th data-field="ponderacion" data-align="left"
								data-sortable="true">Ponderación</th>
						</tr>
					</thead>
				</table>
				<br>
				<p>
					<a href="{{ path('ich_evaluacion_newStep4') }}"
						class="btn btn-success siguiente">Siguiente</a> <a
						href="{{ path('ich_test_homepage') }}"
						class="btn btn-warning cancelar">Cancelar</a>
				</p>

			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
{{ include('ichTestBundle:Evaluacion:messages/modals-add3-evaluarCandidatos.html.twig')}}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
competencias = {{ competencias | raw }};
</script>
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/add3-evaluarCandidatos.js') }}"></script>
{% endblock %}