
{% extends 'layout.html.twig'%}

{% block body %}

{{ parent() }}
<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">Candidatos a Evaluar</h2>
		</div>
		<div class="row2">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				<table id="table-pagination" data-height="350"
					data-pagination="true">
					<thead>
						<h3 align="center">Listado de Candidatos</h3>
						<tr>
							<th data-field="apellido" data-align="left" data-sortable="true">Apellido</th>
							<th data-field="nombre" data-align="left" data-sortable="true">Nombre</th>
							<th data-field="tipoDocumento" data-width="10%"
								data-sortable="true" data-align="left">Tipo Documento</th>
							<th data-field="documento" data-width="10%" data-sortable="true"
								data-align="left">Documento</th>
							<th data-field="clave" data-width="15%" data-align="left">Clave</th>
						</tr>
					</thead>
				</table>
				<br>
				<p>
					<button type="button" class="btn btn-success finalizar">Finalizar</button>
					<a href="{{ path('ich_test_homepage') }}"
						class="btn btn-warning cancelar">Cancelar</a>
				</p>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
{{ include('ichTestBundle:Evaluacion:messages/modals-add4-evaluarCandidatos.html.twig')}}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src=" {{ asset('assets/vendor/tableExport/libs/FileSaver/FileSaver.min.js') }} "></script>
<script src=" {{ asset('assets/vendor/tableExport/libs/js-xlsx/xlsx.core.min.js') }} "></script>
<script src=" {{ asset('assets/vendor/tableExport/tableExport.min.js') }} "></script>
<script type="text/javascript">
candidatosSeleccionados = {{ candidatosSeleccionados | raw }}, url_evaluacion_step5 = '{{ path("ich_evaluacion_newStep5") }}';
</script>
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/add4-evaluarCandidatos.js') }}"></script>
{% endblock %}