
{% extends 'layout.html.twig'%}

{% block body %}

{{ parent() }}

{# {{ r | convert_encoding('UTF-8', 'ISO-8859-1') }} #}
 <meta charset="UTF-8"> 
<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">Candidatos a Evaluar</h2>
		</div>
	<div class="row2">
			<div class="col-md-1"></div>
		<div class="col-md-9">
	
		
		<h3 id="titulo1" align="center">Listado de
			Candidatos</h3>
			<br>
		<table id="table-pagination" data-height="400" data-pagination="true">
			<thead>
				<tr>
					<th data-field="apellido" data-align="left" data-sortable="true">Apellido</th>
					<th data-field="nombre" data-align="left" data-sortable="true">Nombre</th>
					<th data-field="tipoDocumento" data-width="10%" data-sortable="true" data-align="left">Tipo Documento</th>
					<th data-field="documento"  data-width="10%" data-sortable="true" data-align="left">Documento</th>
					<th data-field="clave" data-width="15%" data-align="left">Clave</th>
				</tr>
			</thead>
		</table>
		<br>
		
		<!-- set up the modal to start hidden and fade in and out -->
				<div id="modalCandidatosActivos" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- dialog body -->
							<div class="modal-body">
								<h4 align="center">Existen candidatos que tienen cuestionarios </h4>
								  <h4 align="center"> activos y no pueden ser evaluados:</h4>
								<br>
								<div class="row candidatosActivos"></div>
							</div>
							<!-- dialog buttons -->
							<div class="modal-footer">
								<a href="{{ path('ich_evaluacion_newStep1')}}"
									class="btn btn-primary">Aceptar</a>
							</div>
						</div>
					</div>
				</div>
				
		<!-- set up the modal to start hidden and fade in and out -->
		<div id="myModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- dialog body -->
					<div class="modal-body">
						<h4>La Evaluación se ha generado con éxito.</h4>
						<h4>¿Desea exportar la lista de candidatos y claves a un archivo Excel?</h4>
						<br>
					</div>
					<!-- dialog buttons -->
					<div class="modal-footer">
					<a href="{{ path('ich_test_homepage') }}" class="btn btn-primary si">Si</a>
						<a href="{{ path('ich_test_homepage') }}"
							class="btn btn-primary">No</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<p>
		<button type="button" class="btn btn-success finalizar">Finalizar</button>
		<a href="{{ path('ich_test_homepage') }}"
			class="btn btn-warning cancelar">Cancelar</a>
	</p>
	</div>
	</div>
		</div>
</div>
<br>		
<br>
<br>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src=" {{ asset('assets/vendor/tableExport/libs/FileSaver/FileSaver.min.js') }} "></script>
<script src=" {{ asset('assets/vendor/tableExport/libs/js-xlsx/xlsx.core.min.js') }} "></script>
<script src=" {{ asset('assets/vendor/tableExport/tableExport.min.js') }} "></script>
<script type="text/javascript">

var file_name;

    $(document).ready(function() {

    	$('#table-pagination').bootstrapTable({ data: [],
        formatLoadingMessage: function () {
            return 'Cargando datos. Por favor, espere...';
        }
                });

		$('#table-pagination').bootstrapTable('showLoading');

        $.ajax({
            url: '{{ path("ich_evaluacion_newStep4") }}',
            cache: false,
            success: function(data) {
							
				$('#table-pagination').bootstrapTable('load', data);

                $('#table-pagination').bootstrapTable('hideLoading');
                
                
            }
        })
    });

    $('.si').click( function() {   
    $('#table-pagination').tableExport({type:'excel', fileName: file_name});
    })
    
    $("#myModal").on("show", function() {    // wire up the OK button to dismiss the modal when shown
    	    $("#myModal a.btn").on("click", function(e) {
    	        console.log("button pressed");   // just as an example...
    	        $("#myModal").modal('hide');     // dismiss the dialog
    	    });
    	});
    	
    	$("#myModal").on("hide", function() {    // remove the event listeners when the dialog is dismissed
    	    $("#myModal a.btn").off("click");
    	});

    	$("#myModal").on("hidden", function() {  // remove the actual elements from the DOM when fully hidden
    	    $("#myModal").remove();
    	});

    $(document).on('click', '.finalizar', function() {
    	$
		.ajax({
			url : '{{ path("ich_evaluacion_newStep5") }}',
			cache: false,
			success : function(data) {	

				if(typeof data == 'string')
				{	
					file_name = data;

		        	$("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
		    	  	"backdrop"  : "static",
		    	  	"keyboard"  : true,
		    	  	"show"      : true                    // ensure the modal is shown immediately
		    		});
				}	
				else{
					for($i=0, $total = data.length; $i < $total; $i++) {
					$('.candidatosActivos').append(
	                '<span class="text-danger"><ul><li>'+data[$i].apellido+', '+data[$i].nombre+'</li></ul></span>');
					}
					
			    	$("#modalCandidatosActivos").on("show", function() {    // wire up the OK button to dismiss the modal when shown
			    	    $("#modalCandidatosActivos a.btn").on("click", function(e) {
			    	        console.log("button pressed");   // just as an example...
			    	        $("#modalCandidatosActivos").modal('hide');     // dismiss the dialog
			    	    });
			    	});
			    	$("#modalCandidatosActivos").on("hide", function() {    // remove the event listeners when the dialog is dismissed
			    	    $("#modalCandidatosActivos a.btn").off("click");
			    	});

			    	$("#modalCandidatosActivos").on("hidden", function() {  // remove the actual elements from the DOM when fully hidden
			    	    $("#modalCandidatosActivos").remove();
			    	});

			    	$("#modalCandidatosActivos").modal({                    // wire up the actual modal functionality and show the dialog
			    	  "backdrop"  : "static",
			    	  "keyboard"  : true,
			    	  "show"      : true                     // ensure the modal is shown immediately
			    	});
			    	}
			
    }})})
    	
    
</script>
{% endblock %}