{% extends 'layout.html.twig' %}
{% block body %}
{{ parent() }}

<div class="main container">
	<div class="row well">
		<div class="col-md-12">
			<div class="page-header">
				<h2>Cuestionario</h2>
			</div>
			<div class="panel-group">


				<fieldset>

					{{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}

					{% if not form.copiaPreguntas|length %}
					<h4 class="text-info">Todos los bloques han sido respondidos.</h4>
					{% endif %}

					<div class="panel panel-warning">
						{% for copiaPregunta in form.copiaPreguntas %}
						<div class="panel-heading">
							<div class="col-md-6">
								{{ form_widget(copiaPregunta.id) }}
							</div>

							{{ form_widget(copiaPregunta.pregunta) }}
							<h4>
								{{copiaPregunta.pregunta.vars.value}}
							</h4>
						</div>
						<div class="panel-body">
							{% set respondida = false %}
							{% for opcion in copiaPregunta.copiaOpcionesRespuesta %}
							{% if opcion.vars.checked %}
							{% set respondida = true %}
							{% endif %}

							{% endfor %}
							{% if respondida %}
							{% for opcion in copiaPregunta.copiaOpcionesRespuesta %}
							<div class="list-group">
								{{ form_widget(opcion, {'attr' : {'disabled' : 'disabled'} }) }}
								{{ opcion.vars.label }}
							</div>
							{% endfor %}
							{% endif %}
							{% if not respondida %}
							{% for opcion in copiaPregunta.copiaOpcionesRespuesta %}
							<div class="list-group">
								{{ form_widget(opcion) }}
								{{ opcion.vars.label }}
							</div>
							{% endfor %}
							{% endif %}
							{% set respondida = false %}
						</div>
						{% endfor %}
					</div>


				</fieldset>

			</div>

			<p>
				{{ form_widget(form.send, {'label' : 'Finalizar', 'attr' : {'class' : 'btn btn-success  siguiente'} }) }}
				<button type="button" class="btn btn-warning salir">Salir</button>
			</p>

			{{ form_widget(form._token) }}
			{{ form_end(form,{ 'render_rest' : false}) }}

		</div>
	</div>
</div>
{{ include('ichTestBundle:Evaluacion:messages/modals-completarCuestionario.html.twig')}} 
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var preguntasNoRespondidas = {{ preguntasNoRespondidas|json_encode() }};
</script>
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/completarCuestionario.js') }}"></script>
{% endblock %}
