{% extends 'layout.html.twig' %}


{% block body %}
{{ parent() }}

<div class="main container">
	<div class="row well">
		<div class="col-md-12">
			<div class="page-header">
				<h2>Completar Cuestionario</h2>
			</div>


			<fieldset>

				{{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}

				<div class="row">
				  <h3>{{ form_label(form.copiaPreguntas) }}</h3>
                
                {% if not form.copiaPreguntas|length %}
                    <h4 class="text-info">No existen preguntas en el bloque.</h4>
                {% endif %}
                
                <div class="list-group copiaPreguntas">
                    {% for copiaPregunta in form.copiaPreguntas %}
                     <div class="row renglon">
                         <div class="col-md-6">{{ form_widget(copiaPregunta.id,{'attr' : {'class' : 'form-control'} }) }}</div>
                         </div>
                        <div class="row renglon">
                         <div class="col-md-12">{{ form_widget(copiaPregunta.pregunta,{'attr' : {'class' : 'form-control', 'readonly' : 'readonly'} }) }}</div>
                         </div>
                         <br>
                    <div class="row opcionesRespuesta">
                        {{ form_widget(copiaPregunta.copiaOpcionesRespuesta,{'attr' : {'class' : 'form-control'} }) }}
                    </div>
                        <br>
                        <br>
                    {% endfor %}
                </div>
                </div>



			</fieldset>

		<p>
          {{ form_widget(form.send, {'label' : 'Finalizar', 'attr' : {'class' : 'btn btn-success  siguiente'} }) }}
          <a href="{{ path('ich_test_homepage') }}"
            class="btn btn-warning salir">Salir</a>
        </p>

			{{ form_widget(form._token) }}
			{{ form_end(form,{ 'render_rest' : false}) }}

		</div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% endblock %}
