{% extends 'layout.html.twig' %}
{% block body %}
	{{ parent() }}

<div class="main container">
	<div class="row well">
		<div class="col-md-12">
			<div class="page-header">
				<h2>Instrucciones</h2>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 align="center">En el siguiente Cuestionario se evaluarán
						sus actitudes Técnicas y Actitudinales.</h3>
				</div>
				<div class="panel-body">
					{% if not instrucciones|length %}
					<h4 class="text-info">Instrucciones no disponibles.</h4>
					{% endif %}
					{% for linea in instrucciones %}
					{% if linea ends with ':' %}
					<br> <span class="text-warning"><h4>
							<b>{{linea}}</b>
						</h4></span>
					{% endif %}
					{% if linea ends with '.' %}
					<ul>
						<li><h4>
								{{linea}}
							</h4></li>
					</ul>
					{% endif %}
					{% endfor %}
					{% if condiciones.cantAccesos == 1  %}
					<span><ul>
							<li><h4>
									Dispone de <b> {{condiciones.cantAccesos}}
									acceso </b> restante permitido.
								</h4></li>
						</ul></span>
					{% endif %}
					{% if condiciones.cantAccesos > 1 or condiciones.cantAccesos == 0 %}
					<span><ul>
							<li><h4>
									Dispone de <b> {{condiciones.cantAccesos}}
									accesos </b> restantes permitidos.
								</h4></li>
						</ul></span>
					{% endif %}
					<br>
				</div>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h4><b>Al aceptar los términos dispondrá de:</b></h4>
					{% if "0:" in condiciones.tiempoMax %}
					<span class="text-danger"><ul>
							<li><h4>
									<b> {{condiciones.tiempoMax[2:]}}
									minutos </b> para completar el cuestionario.
								</h4></li>
						</ul></span>
					{% endif %}
					{% if "0:" not in condiciones.tiempoMax %}
					<span class="text-danger"><ul>
							<li><h4>
									<b> {{condiciones.tiempoMax}}
									horas </b> para completar el cuestionario.
								</h4></li>
						</ul></span>
					{% endif %}
					{% if "0:" in condiciones.tiempoMaxActivo %}
					<span class="text-danger"><ul>
							<li><h4>
									<b> {{condiciones.tiempoMaxActivo[2:]}}
									minutos </b> para permanecer activo.
								</h4></li>
						</ul></span>
					{% endif %}
					{% if "0:" not in condiciones.tiempoMaxActivo %}
					<span class="text-danger"><ul>
							<li><h4>
									<b> {{condiciones.tiempoMaxActivo}}
									horas </b> para permanecer activo.
								</h4></li>
						</ul></span>
					{% endif %}
				</div>
			</div>
			<br>

			<p>
				<a
					href="{{ path('ich_evaluacion_registrarComienzoCuestionario', { idCuestionario: idCuestionario }) }}"
					class="btn btn-success aceptar">Aceptar</a> <a
					href="{{ path('ich_test_ingresocandidato') }}"
					class="btn btn-warning cancelar">Cancelar</a>
			</p>


		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}