{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/seguridad.css') }}">
{% endblock %}

{% block body %}
{{ parent() }}

<div class="container">
	<!-- set up the modal to start hidden and fade in and out -->
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- dialog body -->
				<div class="modal-body">
					<h4>
						{{ mensaje }}
					</h4>
				</div>
				<!-- dialog buttons -->
				<div class="modal-footer">
					<a href="{{ path('ich_test_ingresocandidato') }}"
						class="btn btn-primary">Aceptar</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /container -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	$("#alert")[0].play();
	$("#myModal").on("show", function() { 
		$("#myModal a.btn").on("click", function(e) {
			console.log("button pressed"); 
			$("#myModal").modal('hide'); 
		});
	});
	$("#myModal").on("hide", function() { 
		$("#myModal a.btn").off("click");
	});

	$("#myModal").on("hidden", function() { 
		$("#myModal").remove();
	});

	$("#myModal").modal({
		"backdrop" : "static",
		"keyboard" : true,
		"show" : true
	});
</script>
{% endblock %}