{% extends 'layout.html.twig'%}

{% block body %}

{{ parent() }}


<div class="container">
   <div class="col-md-12">
      <div class="page-header margin-none">
         <h2 class="padding-none">Informe: Orden de Mérito</h2>
      </div>
      <div class="row">
         <div class='col-md-1'></div>
         <div class='col-md-3 form-group'>
            {{ form_start(form, {'attr' : {'novalidate' : 'novalidate', id: 'form', 'role' : 'form'} }) }}
            {{ form_widget(form.codigo, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Código del Puesto'
            } }) }}
         </div>
         <div class='col-md-3 form-group'>
            {{ form_widget(form.puesto, { 'attr' : { 'class' : 'form-control' 
            } }) }}
         </div>
         <div class='col-md-3 form-group'>
            {{ form_widget(form.empresa, { 'attr' : { 'class' : 'form-control'
            } }) }}
         </div>
         <div class='col-md-1 form-group'>
            {{ form_widget(form.send, {'label' : 'Buscar', 'attr' : {'class' : 'btn btn-primary  buscar'} }) }}
            {{ form_widget(form._token) }}
            {{ form_end(form,{ 'render_rest' : false}) }}
         </div>
      </div>
      <div class="row2">
         <div class="col-sm-1"></div>
         <div class="col-md-10">
            <table id="table-pagination" data-height="350" data-striped="true"
               data-pagination="true" data-single-select="true" >
               <div class="fixed-table-toolbar">
                  <div class="columns columns-right btn-group pull-right">
                     <button class="btn btn-default refresh" type="button"
                        name="refresh" title="Refrescar">
                     <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                     </button>
                  </div>
               </div>
               <thead>
                  <h3 align="center">Selección de Puesto</h3>
                  <tr>
                     <th data-field="idPuesto" data-visible="false">Id</th>
                     <th data-field="codigoPuesto" data-align="left"
                        data-sortable="true">Código</th>
                     <th data-field="nombrePuesto" data-align="left"
                        data-sortable="true">Puesto</th>
                     <th data-field="nombreEmpresa" data-width="30%" data-align="left"
                        data-sortable="true">Empresa</th>
                     <th data-field="cantCandidatos" data-align="left"
                        data-sortable="true">Candidatos</th>
                     <th data-field="cantEvaluacionesCompletas" data-align="left"
                        data-sortable="true">Evaluaciones Completas</th>
                     <th data-field="state" data-checkbox="true"></th>
                  </tr>
               </thead>
            </table>
            <br>
            <p>
               <a id="sig"
                  href="{{ path('ich_evaluacion_step2Merito', { id: 0 }) }}"
                  onclick="" class="btn btn-success aceptar">Aceptar</a> <a
                  href="{{ path('ich_test_homepage') }}"
                  class="btn btn-warning cancelar">Cancelar</a>
            </p>
         </div>
      </div>
   </div>
</div>
</div>
<br>
<br>
<br>
{{ include('ichTestBundle:Evaluacion:messages/modals-step1Merito.html.twig')}} 
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var puestos={{ puestos | raw }}, href_refresh = '{{ path("ich_evaluacion_getPuestosStep1Merito", { isXmlHttpRequest: 1 }) }}';
</script>
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/step1Merito.js') }}"></script>
{% endblock %}
