
{% extends 'layout.html.twig'%}

{% block body %}
{{ parent() }}
<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">Selección de Evaluaciones</h2>
		</div>
		<div class="row2">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table id="table-pagination" data-height="350" data-striped="true"
					data-pagination="true">
					<thead>
						<h3 id="titulo1" align="center">Listado de Evaluaciones</h3>
						<tr>
							<th data-field="id" data-visible="false">Id</th>
							<th data-field="nombre" data-align="left" data-sortable="true">Nombre</th>
							<th data-field="fechaCreacion" data-width="50%" data-align="left">Fecha
								de Creación</th>
							<th data-field="state" data-checkbox="true"></th>
						</tr>
					</thead>
				</table>

				{{ form_start(form) }}
				<fieldset>
					<div class="list-group evaluaciones">
						<div class="row renglon"></div>
					</div>

				</fieldset>

				<p>
					{{ form_widget(form.send, {'label' : 'Aceptar', 'attr' : {'class' : 'btn btn-success  aceptar'} }) }}
					<a href="{{ path('ich_test_homepage') }}"
						class="btn btn-warning cancelar">Cancelar</a>
				</p>


				{{ form_widget(form._token) }}
				{{ form_end(form,{ 'render_rest' : false}) }}

			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
{{ include('ichTestBundle:Evaluacion:messages/modals-step2Merito.html.twig')}} 
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var evaluaciones = {{ evaluaciones | raw}};
</script> 
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/step2Merito.js') }}"></script>
{% endblock %}