
{% extends 'layout.html.twig'%}
{% block body %}
{{ parent() }}
<div class="container">
	<div class="col-md-12">
		<div class="page-header margin-none">
			<h2 class="padding-none">Informe: Orden de Mérito</h2>
		</div>
        <div class="row2">
            <div class="col-md-12">
                <h3 align="center">Listado de Candidatos</h3>
                <table id="table-evaluaciones">
                </table>

                <table id="table-candidatosAptos"  style="display:none;" data-tableexport-display="always" 
                    data-sort-name="puntajeObtenido" data-sort-order="desc"> 
                    <thead>
                        <tr>
                            <th data-field="nombreEvaluacion">Evaluación</th>
                            <th data-field="fechaCreacionEvaluacion">Creación Ev.</th>
                            <th data-field="tipoDocumento">Tipo</th>
                            <th data-field="documento">Documento</th>
                            <th data-field="apellido">Apellido</th>
                            <th data-field="nombre">Nombre</th>
                            <th data-field="puntajeObtenido" data-width="20%" >Puntaje %</th>
                            <th data-field="fechaInicio">Inicio</th>
                            <th data-field="fechaFin">Finalización</th>
                            <th data-field="cantAccesos">Accesos</th>
                        </tr>
                    </thead>
                </table> 
                <br>
                <br>
                <p>
                    <button type="button" class="btn btn-success imprimir">Imprimir</button>
                    <a href="{{ path('ich_test_homepage') }}" class="btn btn-warning salir">Salir</a>
                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
{{ include('ichTestBundle:Evaluacion:messages/modals-step3Merito.html.twig')}} 
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var evaluaciones = {{ evaluaciones | raw}}, cuestionariosAptos = {{ cuestionariosAptos | raw}}, dateTimeInforme = '{{dateTimeInforme}}', nombrePuesto = '{{nombrePuesto}}', nombreEmpresa = '{{nombreEmpresa}}';
</script> 
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/step3Merito.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ichtest/js/print-table.js') }}"></script>
{% endblock %}